<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <main>
        <a href="/admin/create-employee">Create Employee</a>
        <a href="/admin/employees">View Employees</a>
        <a href="/admin/logout" id="logout-btn">Logout</a> <!-- Logout link -->
    </main>

    <script src="/public/js/admin-dashboard.js"></script>
</body>
</html>
